 .main-container {
    margin-top: 20px;
}

.meal-items .meal-item {
    position: relative;
    padding: 10px;

}

.meal-items .meal-item h4 {
    margin-top: 5px;
    text-transform: uppercase;

}
.meal-box .box-body {
    padding: 0;

}

.meal-items .meal-item:nth-child(even) {
    background-color: #f9fafc;

}

.meal-items .meal-item .btn {
    position: absolute;
    top: 25px;
    right: 10px;
}

.meal-box .box-title h2 {
    margin-top: 0;
}